<h1>My Cart</h1>

<%# // if cart is empty %>
<p class="no-items d-none">You don't have anything in your cart yet</p>


<%# // if i actually have a cart %>
<div id="cart" class="d-none">
  <div class="card-items"></div>
  <button class="btn btn-primary"> Order Now</button>
</div>
