<div class="container my-5">
<h2>My Favorites</h2>
  <div class="cards">
    <% @favorites.each do |favorite| %>
      <%= link_to experience_path(favorite.experience_id) do  %>
      <div class="p-3 d-flex flex-column background-white favorite-card">
        <img src=<%= favorite.experience.photo_url%> class="experience-img">
        <p class="experience-name"><strong><%= favorite.experience.name %></strong></p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
