.location-filter-panel{
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.outer-card{
  display: grid;
  grid-template-columns: 20% 80%;
  // padding: 0 80px;
  grid-gap: 16px;
}

.experiences-cards{

}
