// Specific CSS for your home-page
// .landing-body {
//   background-image: url(asset_path('scott-trento-mUFFI4CkmAI-unsplash.jpg'));
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.home_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -2;
  object-fit: cover;
}
