// Specific CSS for your home-page
.landing-body {
  background-image: url(asset_path('scott-trento-mUFFI4CkmAI-unsplash.jpg'));
  background-repeat: no-repeat;

  background-size: cover;
}

.container-landing {
  width: 35%;

  margin: 0 auto;
  position: absolute;
  top: 150px;
  left: 100px;
}

.box {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%,-50%);
}

.landing-wrapper{
  position: relative;
}

.landing-img >img {
  max-width: 100%;
}

.search-btn {
  width: 100px;
  background-color: $gambly-yellow;
  color: white;
}

.gambly-img{
  width: 350px;
}
