.login-container{
  position:relative;
}

.login-form{
  position:relative;
  top: 40px;
}

.shadowed{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
}

.logo-box{
  border-radius: 0px 10px 10px 0;
}

.all-round-box{
  border-radius: 10px;
}

.sign-in-box-inner{
  border-radius: 10px;
}
