.sign-up-wrapper{
  background-color: white;
  width: 40%;
  padding: 2.5rem 2.5rem;
}

.p-main{
  margin: 0 auto;
  min-height:100vh;
}

.main-content{
  padding:50px 80px;
  height: 100%;
}

.setting_main-content{
  display:  grid;
  grid-template-columns:repeat(12,1fr);
  grid-column-gap: 16px;
  column-gap: 16px;
}

.side-panel{
  grid-column: 1/4;
  padding :16px 0 0 0;
  margin-bottom: 0;
  background-color: white;
}

.side-panel>li{
  display: list-item;
  padding: 15px 25px;
}

.side-panel>li>a{
  font-size: 1rem;
  color:#666;
}

.side-panel>li>a:hover {
 text-decoration: none;
}

.card-wrapper{
  width: 550px;
  border-radius: 8px;
}

.account-info{
  grid-column: 4/-1;
  padding: 24px 32px;
  background-color: white;
}

.acc-font-size{
  font-size: 1.5rem;
}

.landing-img-sm{
  padding: 5rem;
}

.landing-img-sm > img{
  width: 100%;
}
