.card-wrapper{
  width: 550px;
  border-radius: 8px;

}

// .sign-up-card{
//   width: 500px;
// }

.card-body{
  margin-top: 5px;

  padding : 25px;
  background-color: white;
}

.card-heading{
  height: 150px;
  background-image: url(asset_path('scott-trento-mUFFI4CkmAI-unsplash.jpg'));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.65;
}
