<div class="container">
  <h1 class="my-3">Cart</h1>
  <div class="cart-flex">
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>

    <div class="bills">
      <p>Total price:</p>
      <p class="btn btn-flat float-right">Pay now</p>
    </div>
  </div>
</div>
