<div class="background">

  <div class="container-landing">
    <div class="landing-wrapper">

      <div class="landing-img">
        <%= image_tag(asset_path('logo-white.png')) %>
      </div>

      <div class="m-2">
        <%= simple_form_for :experience, url: experiences_path, method: :get do |f| %>
          <div class="search-form-control mt-3 ">
            <input class="form-control required " type="text" name="query" id="query" />
            <button name="button" type="submit" class="button-none" >
              <i class="fas fa-search search-icon"></i>
            </button>
          </div>
        <% end %>
      </div>

      <div class="btn-wrapper row px-3">
        <div class="col-6 ">
          <div class="text-center btn-border">
              <%= link_to "Take a Gambly", experiences_path,class:"text-purple" %>
          </div>
        </div>

        <div class="col-6">
          <div class="text-center btn-border">
            <%= link_to "View all experiences", experiences_path,class:"text-purple" %>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
