<div class="background">
  <%# <div class="container">

    <div class="input-group">
    <div class="form-outline">
      <input id="search-input" type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button id="search-button" type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>

  </div> %>
  
  <%= form_tag experiences_path, method: :get do %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a experience"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
