<div class="container">
  <div class="card-trip">
    <img src=<%=@experience.photo_url%> />
    <div class="card-trip-container">
      <div class="card-trip-infos">
        <h2><%= @experience.name.capitalize %></h2>
        <p><%= @experience.details %></p>
      </div>
      <div class="card-trip-checkout">
        <h3 class="card-trip-pricing float-right">$<%= @experience.price %></h3>
        <a class="btn btn-flat float-right" href="#">Book now</a>
      </div>
    </div>
  </div>
</div>
