.exp-index-banner {
  // background-image: url(asset_path('scott-trento-mUFFI4CkmAI-unsplash.jpg'));
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position:center bottom;
  height: 480px;
  // position: relative;
}

.exp-index-banner > img{
  height: 100%;
}


.exp-index-logo {
  width: 300px;
}

.container-index {
  width: 460px;
  margin: 0 auto;
  position: absolute;
  top: 170px;
  left: 50px;
}

.main-banner > img{
  object-fit:cover;
}
// ------- Media Queries -------- //

@media only screen and (min-width: 800px) {
  .exp-index-banner {
    background-position: bottom;
  }
}
