.btn-purple {
  border-radius: 10px;
  width: 25%;
  padding: 8px 0;
  background-color: $gambly-purple;
  color: white;
}

.btn-purple:hover{
  background-color: $gambly-yellow;
  color: $gambly-purple;
}

.btn-ghost {
  text-decoration: none;
  color: $gambly-purple;
  border: 1px solid $gambly-purple;
  padding: 4px 12px;
  border-radius: 20px;
  font-weight: lighter;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-left: 8px;
}

.btn-ghost:hover {
  opacity: 0.8;
  text-decoration: none;
  background-color: $gambly-purple;
  color: $gambly-yellow;
}

.btn-yellow{
  // box-shadow: 0 19px 38px rgba(0,0,0,0.21), 0 15px 12px rgba(0,0,0,0.11);
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 15px;
  background-color: $gambly-yellow;
  border: none;
}

.btn-yellow:hover{
  transform: scale(1.05);
  color: white;
}

.btn-flat {
  color: white;
  padding: 6px 20px;
  border-radius: 4px;
  margin: 6px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-border{
  border-radius: 10px;
  color: black;
  border : 3px solid $gambly-yellow;
  padding: 8px 20px;
  background-color: $gambly-yellow;
  box-shadow: 0 19px 38px rgba(0,0,0,0.21), 0 15px 12px rgba(0,0,0,0.11);
}

.btn-border:hover > a,.book-now-btn:hover > a{
  color: $gambly-yellow;
  text-decoration: none;
}


// ---- landing page navbar log in/out btn ------//
.navbar-login-btn{
  color: white !important;
}

.nav-li{
  // display: table-cell;
  position: relative;
  // padding: 15px 0;
}

.navbar-login-btn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-login-btn:hover:after {
  width: 100%;
  left: 0;
}

.btn-border:hover ,.btn-yellow:hover{
  color: $gambly-yellow;
  background-color:rgba(59, 24, 95,.75);
  text-decoration: none;
  border: 2px solid $gambly-yellow;
}

.btn-border:hover > a {
  color: $gambly-yellow;
}

.navbar-login-btn > a:hover {
  color: black !important;
}

.button-none{
  border :0px;
  background-color :transparent;
}

// ----- landing search bar magnifying glass ----- //

.btn-search{
  border-radius: 10px;
  border: none;
  background-color: $gambly-purple;
  padding: 5px 20px;
  color: white;
}

.search-icon-landing {
  color: $gambly-purple !important;
}

.search-icon-landing:hover{
  transform: scale(1.1);
}

// ----- landing buttons ----- //

a.landing-btn-main{
  text-decoration: none;
  font-size: 16px;
  color: $gambly-purple;
  background-color: $gambly-yellow;
  // padding: 9px 40px;
  border-radius: 10px;
  opacity:0.95;
  font-family: $works;
}

.landing-btn-div:hover{
  transform: scale(1.05);
}
.btn-wrapper{
  margin-top: 5px;
}

.text-purple{
  color: $gambly-purple;
}

.text-purple:hover{
  text-decoration: none;
}

// ------ Sample page ------ //

.sample-details-btn {
  text-decoration: none;
  color: $gambly-yellow;
  padding: 16px 32px;
  background-color: $gambly-purple;
  border-radius: 10px;
}

.sample-details-btn:hover{
  background-color: $gambly-yellow;
  color: $gambly-purple;
  text-decoration: none;
}

#sample-details-btn-container:hover{
  transform: scale(1.05);
}

.btn-wrapper-sample{
  margin-top: 60px;
  width: 100%;
}

// ---- login page ---- //

.btn-login-page{
  border-radius: 10px;
  border: none;
  background-color: $gambly-purple;
  padding: 5px 20px;
  color: white;
}

.btn-login-page:hover{
  background-color: $gambly-yellow;
  color: $gambly-purple;
  transform: scale(1.05);
}

.btn-login-page-signup{
  border-radius: 10px;
  border: none;
  padding: 5px 20px;
  background-color: $gambly-yellow;
  color: $gambly-purple;
}

.btn-login-page-signup:hover{
  transform: scale(1.05);
  color: white;
}

// ----- review and edit ------ //

.btn-review{
  border-radius: 10px;
  border: none;
  background-color: $gambly-purple;
  color: white;
}

.btn-review:hover{
  background-color: $gambly-yellow;
  color: $gambly-purple;
  transform: scale(1.05);
}

.btn-review-add{
  text-decoration: none;
  border-radius: 10px;
  border: none;
  background-color: $gambly-purple;
  color: white;
  width:100%;
  padding: 8px 0;
}

.btn-review-add:hover{
  background-color: $gambly-yellow;
  color: $gambly-purple;
  transform: scale(1.05);
}
