.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-purple {
  border-radius: 5rem;
  width: 100%;
  padding: 8px 0;
  background-color: $gambly-purple;
  color: white;
}

.btn-yellow, .btn-landing-routes {
  border: solid 1px $gambly-yellow;
  border-radius: 10px;
  padding: 5px 15px;
  text-decoration: none;

}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-width{
  width: 200px;
}
// -------- landing page buttons ------- //

.btn-landing-routes {
  background-color: transparent;
  border-radius: 10px;
  margin-top: 10px;
}

.btn-landing-routes:hover {
  text-decoration: none;
  background-color: $gambly-yellow;
  color:white;
  text-transform: scale(1.2);
}

.landing-btns-grp {
  position: absolute;
  top: 20px;
  right: 20px;
}

.landing-btn {
  color: white;
  font-weight: bold;
  padding: 10px;
}

.landing-btn:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.1);
}

.btn-submit {
  border-radius: 10px;
  margin-left: 5px;
}


.button-none{
  border :0px;
  background-color :transparent;

}

.btn-border{
  border-radius: 10px;
  border : 1px solid $gambly-yellow;
  padding: 8px 0;
}
