.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-trip-container {
  display: flex;
}

.card-trip > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 8px;
}


.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 8px;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 80%;
}

.card-trip-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 20%;
}

// ------- For sample.html.erb ------- //

.card-trip-s {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 800px;
}

.card-trip-s > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.heart {
  color: red;
  position: absolute;
  top: 15px;
  right: 40px;
  font-size: 2em;
}
