.cart-flex{
  display: flex;
}

.card-product {
  overflow: hidden;
  height: 320px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 80%;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product .cart-items {
  font-size: 16px;
  margin: 0;
  padding: 16px;
}

.bills {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-left: 30px;
}
