.card-trip {
  overflow: hidden;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-trip-container {
  background-color: white;
  padding:0 2rem,
}

.card-trip > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 8px;
}

.card-trip h3{
  font-size: 24px;
  margin: 8px;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 8px;
}

.card-trip .card-trip-infos {
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 75%;
}

// terms and conditions card//

.small-card-trip-container{
  margin-top: 1.5rem;
  background-color: white;
  padding: 2rem 4.5rem;
}

.term-text{
  margin: 10px 7px;
}

.term-details{
  margin: 1.5rem 0;
}

//------ check-out ------//
.checkout-card{
  border-radius: 10px;
  padding: 2.5rem 1.4rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip-checkout {
  padding: 2rem 0;
  width: 25%;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cancellation{
  padding: 1rem 1rem;
  background: #f1ebe5;
  border-radius: 10px;
}

.book-now-btn{
  background: $gambly-yellow;
  border-radius: 10px;
}

// ------- For sample.html.erb ------- //

.card-trip-s {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 800px;
}

.card-trip-s > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.heart {
  color: red;
  position: absolute;
  top: 15px;
  right: 40px;
  font-size: 2em;
}
