.location-filter-panel {
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-trips {
  overflow: hidden;
  position: relative;
}

.card-trips > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  padding-top: 50px;
}

.card-trips h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 8px;
}

.card-trip-containers {
  background-color: white;
  padding:0 2rem;
  border-radius: 0 0 10px 10px;
}

.card-trips h3{
  font-size: 24px;
  margin: 8px;
}

.card-trips p {
  font-size: 16px;
  opacity: .7;
  margin: 8px;
}

.card-trips .card-trip-info {
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 75%;
}

// terms and conditions card//

.small-card-trip-container{
  margin-top: 1.5rem;
  background-color: white;
  padding: 2rem 4.5rem;
  border-radius: 10px;
}

.term-text{
  margin: 10px 7px;
}

.term-details{
  margin: 1.5rem 0;
}

//------ check-out ------//
.checkout-card{
  border-radius: 10px;
  padding: 2.5rem 1.4rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip-pay {
  padding: 2rem 0;
  width: 25%;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cancellation{
  padding: 1rem 1rem;
  background: #f1ebe5;
  border-radius: 10px;
}

.book-now-btn{
  background: $gambly-yellow;
  border-radius: 10px;
}

.heart {
  color: red;
  position: absolute;
  top: 15px;
  right: 40px;
  font-size: 2em;
}
