.heart-container{
  margin-top: 10px;
  width: 50px;
  height: 100%;
  padding: 2px 9px;

}

.heart-container > a {
  margin-top: 8px;
  font-size: 1.4rem;
}

.heart-container > p {
  padding: 0;
  margin: 7px;
}

.fa-star {
  color: $gambly-yellow;
}