.navbar-lewagon {
  position : relative;
  justify-content: space-between;
  background-color: $gambly-purple;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  position: absolute;
  top: 0;
  left: 20px;
  width: 60px;
}
