<div class="container">
  <h1><%= @experience.name %> </h1>
  <%= simple_form_for [@experience, @review] do |f| %>
    <%= f.input :content, placeholder: 'Review about the experience...' %>
    <%= f.submit class: 'btn btn-flat btn-block' %>
  <% end %>
</div>
